<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Password Strength Classifier</title>
    <script>
        function togglePassword() {
            var passwordInput = document.getElementById("password");
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
            } else {
                passwordInput.type = "password";
            }
        }
    </script>
</head>
<body>
    <div class="container">
        <h2>Password Strength Classifier</h2>
        <form id="passwordForm" method="post" action="/classify">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button id="showPassword" type="button" onclick="togglePassword()">Show Password</button>
            <button type="submit">Check Password Strength</button>
        </form>
        <div id="result"></div>
    </div>
</body>
</html>
